<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Handlebars at work</title>
  </head>
  <body
    style="display: flex; align-items: center; justify-content: center; flex-direction: column;"
  >
    <img src="img/logo.png" alt="logo" />
    <h2>BMI CALCULATOR</h2>
    <form action="/" method="POST">
      <div style="margin-bottom: 4rem">
        <label>Height:</label>
        <input type="number" name="height" />
      </div>
      <div style="margin-bottom: 4rem">
        <label>Weight:</label>
        <input type="number" name="weight" />
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>